@import "utilities/variables" ;

.header {
    color: $color-principal;
    font-size: 27px;
    padding: 10px;

/* Tipografía general */
.bigicon {
    font-size: 35px;
    color: #36A0FF; }
  }
  /* Footer */
footer
 {width: 100%;
    background: var(--lav);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  .anchoFooter {margin-top: 30px;
  }
  .redes 
  {display: inline-block;
  }
  @mixin redesFooter($hover) {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  
    &:hover {
      color: $hover;
    }
  }
  .anchoFooter {
    margin-top: 10px;
  
    .bi-facebook {
      @include redesFooter($fb);
    }
    .bi-whatsapp {
      @include redesFooter($wp);
    }
  
    .bi-instagram {
      @include redesFooter($insta);
    }
  }
  .container-fluidd {
  overflow:auto ;

  }
  }
  //main 
  
  :root 
  {--lav-light: #f2deff;
  --lav: #D99090 ;
  }
}
main .pColor {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
 
  font-size: 30px;
  align-items: center; }